.tile {
    border: 1px solid black;
    background-color: white;
    line-height: 0;
  }
  
  img {
    width: 100%;
  }
  
  .author {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  