.shim {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  overflow: scroll;
  background-color: rgba(0, 0, 0, 0.5);
}

.layer {
  display: flex;
  max-width: 90vw;
  margin: 5vh auto 0 auto;
  padding: 20px;
  flex-direction: column;
  background-color: rgb(34, 32, 32);
  justify-content: center;
}

.layer-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: 450px) {
    flex-direction: row;
  }

  .movie-img {
    width: max-content;
    height: max-content;
  }
}

.details-image {
  display: flex;
  max-width: 33vw;

  @media (min-width: 320px) {
    max-width: 20vw;
  }

  @media (min-width: 720px) {
    max-width: 10vw;
  }
}

.return-button {
  position: absolute;
  left: 0;
  top: 0;
}

.content {
  display: flex;
  flex-direction: column;
  color: white;
  margin-left: 20px;

  &__headline {
    margin-top: 0;
    margin-bottom: 10px;
  }

  &__description {
    @media (min-width: 320px) {
      max-width: 30vw;
    }
  }

  &__genres {
    padding-bottom: 10px;
  }

  &__rating {
    padding-bottom: 10px;
  }
}

.break {
  width: 33vw;
}
