<div *ngIf="specMovie">
  <div class="shim" (click)="closeLayer()" (window:keyup.escape)="closeLayer()">
    <div class="layer" (click)="onMainClick()">
      <div class="layer-main">
        <a (click)="closeLayer()" class="return-link" href="/">
            ⇐ Return to overview
        </a>
        <div class="layer-inner">
          <div class="content">
            <h2 class="content__headline">{{ specMovie.name }}</h2>
            <div class="content__genres">
              <p>
                <strong>{{ specMovie.length }} | </strong>
                {{ specMovie.genres.join(" ") }}
              </p>
            </div>
            <p class="content__rating"><span class="star">☆</span> {{ specMovie.rate }}/10</p>
            <p class="content__description">{{ specMovie.description }}</p>
          </div>
          <img src="{{ specMovie.img }}" class="movie-img" />
        </div>
      </div>
      <app-additional-content-bar [genre]="specMovie.genres[0]">
        <div *ngFor="let movie of ofSameGenre">
          <app-movie-tile
            [src]="movie.img"
            [alt]="movie.description"
            [id]="movie.id"
            [onClick]="selectImage"
            class="details-image"
          >
          </app-movie-tile>
        </div>
      </app-additional-content-bar>
    </div>
  </div>
</div>
