.shim {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  overflow: scroll;
  background-color: rgba(0, 0, 0, 0.5);
}

.layer {
  display: flex;
  max-width: 90vw;
  margin: 5vh auto;
  flex-direction: column;
  justify-content: center;
  background-color: var(--global-background-color);
}

.layer-main {
  position: relative;
  background-color: var(--global-background-color__light);
  padding: 3vw;
}

.layer-inner {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  justify-content: space-between;

  @media (min-width: 540px) {
    grid-template-columns: 50% max-content;
  }
}

.return-link {
  color: #bba15f;
}

.content {
  display: flex;
  flex-direction: column;
}

.movie-img {
  margin: 0 auto;
  box-shadow: 0 0px 10px rgb(22, 16, 36);
}

.star {
  color: goldenrod;
}
