<div *ngIf="specMovie">
  <div class="shim" (click)="onClick()">
    <div class="layer" (click)="onMainClick()">
      <div class="layer-main">
        <button (click)="onClick()" class="return-button">Return to overview</button>
        <div class="layer-inner">
          <img src="{{ specMovie.img }}" class="movie-img" />
          <div class="content">
            <h2 class="content__headline">{{ specMovie.name }}</h2>
            <div class="content__genres">
              <span
                ><strong>{{ specMovie.length }} | </strong></span
              >
              <span *ngFor="let genre of specMovie.genres">
                {{ genre }}
              </span>
            </div>
            <span class="content__rating">☆ {{ specMovie.rate }}/10</span>
            <span class="content__description">{{
              specMovie.description
            }}</span>
          </div>
        </div>
      </div>
      <hr class="break" />
      <app-additional-content-bar [genre]="specMovie.genres[0]">
        <div *ngFor="let movie of ofSameGenre">
          <app-movie-tile
            [src]="movie.img"
            [alt]="movie.description"
            [id]="movie.id"
            [onClick]="selectImage"
            class="details-image"
          >
          </app-movie-tile>
        </div>
      </app-additional-content-bar>
    </div>
  </div>
</div>
