.layout {
    display: grid;
    column-gap: 20px;
    row-gap: 40px;
    padding: 20px;
  
  @media (min-width: 560px) {
      grid-template-columns: repeat(2, 1fr);
  }
  
  @media (min-width: 720px) {
      grid-template-columns: repeat(3, 1fr);
  }
  
  @media (min-width: 920px) {
      grid-template-columns: repeat(4, 1fr);
  }
  
  @media (min-width: 1240px) {
      grid-template-columns: repeat(5, 1fr);
  }
  
  @media (min-width: 1600px) {
      grid-template-columns: repeat(6, 1fr);
  }
} 