.search-container {
  width: 100vw;
  margin: 12px auto;
}

.search-input {
    width: 50vw;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin: auto;
  }